In [1]:
#FOR LOOP

In [2]:
#ASSIGNMENT QUESTION

In [3]:
#BASIC LEVEL

In [4]:
#QUESTION 1

In [5]:
#WRITE A PYTHON PROGRAM TO PRINT THE NUMBER FROM 1 TO 10 USING A 'FOR' LOOP

In [6]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [7]:
#QUESTION 2

In [8]:
#CREATE A PROGRAM THAT CALCULATES THE SUM OF ALL NUMBERS IN A LIST USING A 'FOR' LOOP

In [10]:
numbers = [1,2,3,4,5]
sum = 0
for num in numbers:
    sum+=num
    print("The sum of the numbers is:",sum)

The sum of the numbers is: 1
The sum of the numbers is: 3
The sum of the numbers is: 6
The sum of the numbers is: 10
The sum of the numbers is: 15

In [11]:
#QUESTION 3

In [12]:
#WRITE A PROGRAM TO PRINT THE CHARACTERS OF A STRING IN REVERSE ORDER USING A 'FOR' LOOP

In [15]:
my_string = "Hello, World!"
for char in reversed(my_string):
    print(char)

!
d
l
r
o
W

,
o
l
l
e
H

In [16]:
#QUESTION 4

In [17]:
#DEVELOP A PROGRAM THAT FINDS THE FACTORIAL OF A GIVEN NUMBER USING A 'FOR' LOOP

In [19]:
num = int(input("Enter a number:"))
factorial = 1
for i in range(1,num+1):
    factorial*=i
    print("The factorial of",num,"is:",factorial)

Enter a number: 5

The factorial of 5 is: 1
The factorial of 5 is: 2
The factorial of 5 is: 6
The factorial of 5 is: 24
The factorial of 5 is: 120

In [20]:
#QUESTION 5

In [21]:
#CREATE A PROGRAM TO PRINT THE MULTIPLICATION TABLE OF A GIVEN NUMBER USING A 'FOR' LOOP

In [22]:
num = int(input("Enter a number:"))
print("Multiplication table of",num)
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter a number: 5

Multiplication table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [23]:
#QUESTION 6

In [24]:
#WRITE A PROGRAM THAT COUNTS THE NUMBER OF EVEN AND ODD NUMBERS IN A LIST USING A 'FOR' LOOP

In [25]:
numbers = [2,5,8,10,15,16,20]
even_count = 0
odd_count = 0
for num in numbers:
    if num%2 ==0:
        even_count+=1
    else:
        odd_count+=1
print("Number of even numbers;",even_count)
print("Number of odd numbers:",odd_count)

Number of even numbers; 5
Number of odd numbers: 2

In [26]:
#QUESTION 7

In [27]:
#DEVELOP A PROGRAM THAT PRINTS THE SQUARES OF NUMBERS FROM 1 TO 5 USING A 'FOR' LOOP

In [28]:
for num in range(1,6):
    square = num**2
    print("The square of",num,"is",square)

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [29]:
#QUESTION 8

In [30]:
# CREATE A PROGRAM TO FIND THE LENGTH OF A STRING WITHOUT USING THE 'len()' FUNCTION

In [31]:
def find_length(string):
    count = 0
    for char in string:
        count += 1
    return count
input_string = "Hello, world!"
length = find_length(input_string)
print("THe length of the string is:",length)

THe length of the string is: 13

In [32]:
#QUESTION 9

In [33]:
# WRITE A PROGRAM THAT CALCULATES THE AVERAGE OF A LIST OF NUMBERS USING A 'FOR' LOOP

In [39]:
def calculate_average(numbers):
    total = 0
    count = 0
    for num in numbers:
        total+=num 
        count+=1
    average=total/count
    return average
input_numbers = [5,10,15,20,25]
avg = calculate_average(input_numbers)
print("The average of the numbers is:",avg)

The average of the numbers is: 15.0

In [40]:
#QUESTION 10

In [41]:
# DEVELOP A PROGRAM THAT PRINTS THE FIRST 'N' FIBONACCI NUMBERS USING A 'FOR' LOOP

In [44]:
def print_fibonacci(n):
    fib_numbers = [0,1]
    for i in range(2,n):
        fib_numbers.append(fib_numbers[i-1]+fib_numbers[i-2])
    for num in fib_numbers:
        print(num)
input_n = 10
print_fibonacci(input_n)

0
1
1
2
3
5
8
13
21
34

In [1]:
#INTERMEDIATE LEVEL:

In [2]:
#QUESTION 11

In [3]:
#WRITE A PROGRAM TO CHECK IF A GIVEN LIST CONTAINS ANY DUPLICATES USING A 'FOR' LOOP

In [28]:
def check_duplicates(my_list):
    for i in range(len(my_list)):
        for j in range(i+1,len(my_list)):
            if my_list[i] == my_list[j]:
                return True
    return False
my_list = [1,2,3,4,2,5]
has_duplicates = check_duplicates(my_list)
if has_duplicates:
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [4]:
#QUESTION 12

In [5]:
# CREATE A PROGRAM THAT PRINTS THE PRIME NUMBERS IN A GIVEN RANGE USING A 'FOR' LOOP

In [29]:
def is_prime(number):
    if number<2:
        return False 
    for i in range(2,int(number**0.5)+1):
        if number%i==0:
            return False 
        return True
def print_prime_numbers(start,end):
    for number in range(start,end+1):
        if is_prime(number):
            print(number)
start_num =1
end_num = 20
print_prime_numbers(start_num,end_num)

5
7
9
11
13
15
17
19

In [6]:
#QUESTION 13

In [7]:
# DEVELOP A PROGRAM THAT COUNTS THE NUMBER OF VOWELS IN A STRING USING A 'FOR' LOOP

In [30]:
def count_vowels(string):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in string:
        if char in vowels:
            count +=1
    return count
my_string = "Hello,World!"
vowel_count = count_vowels(my_string)
print("The number of vowels in the string is:",vowel_count)

The number of vowels in the string is: 3

In [8]:
# QUESTION 14

In [9]:
# WRITE A PROGRAM TO FIND THE MAXIMUM ELEMENT IN A 2D LIST USING A NESTED 'FOR' LOOP

In [32]:
def remove_element_from_list(lst,element):
    for item in lst:
        if item == element:
            lst.remove(item)
my_list = [1,2,3,2,4,2,5]
specific_element =2
remove_element_from_list(my_list,specific_element)
print("List after removing all occurences of",specific_element,":",my_list)

List after removing all occurences of 2 : [1, 3, 4, 5]

In [10]:
#QUESTION 15

In [11]:
# CREATE A PROGRAM THAT REMOVES ALL OCCURENCES OF A SPECIFIC ELEMENT FROM A LIST USING A 'FOR' LOOP

In [33]:
def remove_element_from_list(lst,element):
    new_list = []
    for item in lst:
        if item != element:
            new_list.append(item)
    return new_list
my_list = [1,2,3,2,4,2,5]
specific_element =2
modified_list = remove_element_from_list(my_list,specific_element)
print("List after removing all occurences of",specific_element,":",modified_list)

List after removing all occurences of 2 : [1, 3, 4, 5]

In [12]:
#QUESTION 16

In [13]:
# DEVELOP A PROGRAM THAT GENERATES A MULTIPLICATION TABLE FOR NUMBERS FROM 1 TO 5 USING A NESTED 'FOR' LOOP

In [34]:
for i in range(1,6):
    for j in range(1,6):
        result = i*j
        print(i,"x",j,"=",result)
    print("---------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
---------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
---------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
---------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------

In [14]:
#QUESTION 17

In [15]:
#WRITE A PROGRAM THAT CONVERTS A LIST OF FAHRENHEIT TEMPERATURES TO CELCIUS USING A 'FOR' LOOP

In [35]:
def convert_to_celsius(fahrenheit_list):
    celsius_list = []
    for temp in fahrenheit_list:
        celsius = (temp - 32)*5/9
        celsius_list.append(celsius)
    return celsius_list
fahrenheit_temperatures = [32,68,86,104]
celsius_temperatures = convert_to_celsius(fahrenheit_temperatures)
print("Celsius temperatures:",celsius_temperatures)

Celsius temperatures: [0.0, 20.0, 30.0, 40.0]

In [16]:
# QUESTION 18

In [17]:
# CREATE A PROGRAM TO PRINT THE COMMON ELEMENTS FROM TWO LISTS USING A 'FOR' LOOP

In [26]:
def print_common_elements(list1,list2):
    for element in list1:
        if element in list2:
            print(element)
list_a = [1,2,3,4,5]
list_b = [4,5,6,7,8]
print_common_elements(list_a,list_b)

4
5

In [19]:
# QUESTION 19

In [20]:
# DEVELOP A PROGRAM THAT PRINTS THE PATTERN OF RIGHT-ANGLED TRIANGLES USING A 'FOR' LOOP. USE '*' TO DRAW THE PATTERN

In [25]:
def print_triangle(n):
    for i in range(1,n+1):
      print('*'*i)
num_rows = 5
print_triangle(num_rows)

*
**
***
****
*****

In [21]:
# QUESTION 20

In [22]:
# WRITE A PROGRAM TO FIND THE GREATEST COMMON DIVISOR(GCD) OF TWO NUMBERS USING A 'FOR' LOOP

In [23]:
def find_gcd(a,b):
    gcd = 1
    for i in range(1,min(a,b)+1):
        if a%i == 0 and b%i == 0:
            gcd = i 
    return gcd
num1 =24
num2= 36
result = find_gcd(num1,num2)
print("The GCD of",num1,"and",num2, "is",result)

The GCD of 24 and 36 is 12

In [1]:
#ADVANCED LEVEL:

In [2]:
#QUESTION 21

In [3]:
# CREATE A PROGRAM THAT CALCULATES THE SUM OF THE DIGITS OF NUMBERS IN A LIST USING A LIST COMPREHENSION

In [45]:
numbers=[123,456,789]
digit_sums=[sum(int(digit) for digit in str(number)) for number in numbers]
print("Sum of digits for each number:",digit_sums)

Sum of digits for each number: [6, 15, 24]

In [4]:
#QUESTION 22

In [5]:
# WRITE A PROGRAM TO FIND THE PRIME FACTORS OF A GIVEN NUMBER USING A 'FOR' LOOP AND LIST COMPREHENSION

In [44]:
def find_prime_factors(number):
    prime_factors=[factor for factor in range(2,number+1)if number%factor==0 and all(factor%i!=0 for i in range(2,int(factor**0.5)+1))]
    return prime_factors
number = 36
prime_factors = find_prime_factors(number)
print("prime factors of", number,"are:",prime_factors)

prime factors of 36 are: [2, 3]

In [6]:
#QUESTION 23

In [7]:
#DDEVELOP A PROGRAM THAT EXTRACTS UNIQUE ELEMENTS FROM A LIST AND STORES THEM IN A NEW LIST USING A LIST COMPHRENSION

In [43]:
original_list = [1,2,3,4,2,3,5,6,1,4]
unique_elements=[elem for i, elem in enumerate(original_list) if elem not in original_list[:i]]
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5, 6]

In [9]:
#QUESTION 24

In [10]:
# CREATE A PROGRAM THAT GENRATES A LIST OF ALL PALINDROMIC NUMBERS UP TO A SPECIFIED LIMIT USING A LIST COMPREHENSION

In [42]:
limit =1000
palindromic_numbers = [num for num in range(limit)if str(num)==str(num)[::-1]]
print("Palindromic numbers up to ",limit,":", palindromic_numbers)

Palindromic numbers up to  1000 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [11]:
#QUESTION 25

In [12]:
#WRITE A PROGRAM TO FLATTEN A NESTED LIST USING LIST COMPREHENSION

In [41]:
nested_list =[[1,2,3],[4,5],[6,7,8,9]]
flattened_list = [num for sublist in nested_list for num in sublist]
print("Flattened list:",flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#QUESTION 26

In [14]:
#DEVELOP A PROGRAM THAT COMPUTERS THE SUM OF EVEN AND ODD NUMBERS IN A LIST SEPARATELY USING LIST COMPHRENSION

In [40]:
numbers=[1,2,3,4,5,6,7,8,9,10]
even_sum = sum(num for num in numbers if num%2==0)
odd_sum = sum(num for num in numbers if num%2!=0)
print("Sum of even numbers:",even_sum)
print("Sum of odd numbers:",odd_sum)

Sum of even numbers: 30
Sum of odd numbers: 25

In [15]:
#QUESTION 27

In [16]:
#CREATE A PROGRAM THAT GENRATES A LIST OF SQUARES OF ODD NUMBERS BETWEEN 1 TO 10 USING LIST COMPREHENSION

In [36]:
squares=[num**2 for num in range(1,11) if num%2!=0]
print("List of squares of odd numbers between 1 and 10:",squares)

List of squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

In [17]:
# QUESTION 28

In [18]:
# WRITE A PROGRAM THAT COMBINES TWO LISTS INTO A DICTIONARY USING LIST COMPREHENSION

In [35]:
def combine_lists_into_dict(keys,values):
    return{keys[i]:values[i] for i in range(min(len(keys),len(values)))}
keys = ["name","age","city"]
values= ["NIKITA",19,"UTTAR PRADESH"]
combined_dict=combine_lists_into_dict(keys,values)
print("Combined Dictionary:",combined_dict)

Combined Dictionary: {'name': 'NIKITA', 'age': 19, 'city': 'UTTAR PRADESH'}

In [19]:
# QUESTION 29

In [20]:
#DEVELOP A PROGRAM THAT EXTRACTS THE VOWELS FROM A STRING AND STORES THEM IN A LIST USING LIST COMPREHENSION

In [34]:
def extract_vowels(string):
    vowels = ['a','e','i','o','u']
    vowel_list = [char for char in string if char.lower() in vowels]
    return vowel_list
string = "Hello, how are you?"
vowels=extract_vowels(string)
print("Vowels:",vowels)

Vowels: ['e', 'o', 'o', 'a', 'e', 'o', 'u']

In [21]:
#QUESTION 30

In [22]:
# CREATE A PROGRAM THAT REMOVES ALL NON-NUMERIC CHARACTERS FROM A LIST OF STRINGS USING LIST COMPREHENSION

In [31]:
def remove_non_numeric(strings):
    return["".join(char for char in string if char.isdigit())for string in strings]
strings =["abc123","def456","ghi789"]
numeric_strings=remove_non_numeric(strings)
print("Numeric strings:",numeric_strings)

Numeric strings: ['123', '456', '789']

In [1]:
#CHALLENGE LEVEL:

In [2]:
#QUESTION 31

In [3]:
#WRITE A PROGRAM TO GENERATE A LIST OF PRIME NUMBERS USING THE SIEVE OF ERATOSTHENES ALGORITH ANND LIST COMPREHENSION

In [57]:
limit = 100
sieve = [True]*(limit+1)
sieve[0]=sieve[1]=False
primes=[num for num in range(2,limit+1) if sieve[num]and all (num%i!=0 for i in range(2,int(num**0.5)+1))]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [4]:
#QUESTION 32

In [5]:
# CREATE A PROGRAM THAT GENERATES A LIST OF ALL PYTHAGOREAN TRIPLETS UPTO UPTO A SPECIFIED LIMIT USING LIST COMPREHENSION

In [56]:
limit = 10 
triplets=[(a,b,c) for c in range(1,limit+1)for b in range(1,c)for a in range(1,b) if a**2+b**2==c**2]
print(triplets)

[(3, 4, 5), (6, 8, 10)]

In [6]:
#QUESTION 33

In [7]:
#DEVELOP A PROGRAM THAT GENERATES A LIST OF ALL POSSIBLE COMBINATIONS OF TWO LISTS USING LIST COMPREHENSION

In [53]:
list1 =[1,2,3]
list2=['a','b','c']
combinations = [(x,y)for x in list1 for y in list2]
print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [8]:
# QUESTION 34

In [9]:
# WRITE A PROGRAM THAT CALCULATES THE MEAN, MEDIAN, AND MODE OF A NUMBERS USING LIST COMPREHENSION

In [52]:
from statistics import mean, median,mode 
numbers=[1,2,3,4,4,5,5,6,7,8,8,9]
mean_value = mean(numbers)
median_value=median(numbers)
mode_value=mode(numbers)
print("Mean:",mean_value)
print("Median:",median_value)
print("Mode:",mode_value)

Mean: 5.166666666666667
Median: 5.0
Mode: 4

In [10]:
#QUESTION 35

In [11]:
# CREATE A PROGRAM THAT GENERATES PASCAL'S TRIANGLE UPTO A SPECIFIED NUMBER OF ROWS USING LIST COMPREHENSION

In [51]:
def generate_pascals_triangle(num_rows):
    triangle = [[1]*(row + 1) for row in range(num_rows)]
    for row in range(2,num_rows):
        for col in range(1,row):
            triangle[row][col]=triangle[row-1][col-1]+triangle[row-1][col]
    return triangle
num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [12]:
#QUESTION 36

In [13]:
#WRITE A PROGRAM THAT CALUCATES THE SUM OF THE DIGITS OF A FACTORIAL OF NUMBERS FROM 1 TO 5 USING LIST COMPREHENSION

In [29]:
import math
sum_of_digits=[sum(int(digit)for digit in str(math.factorial(num)))for num in range(1,6)]
print(sum_of_digits)

[1, 2, 6, 6, 3]

In [14]:
#QUESTION 37

In [15]:
# WRITE A PROGRAM THAT FINDS THE LONGEST WORD IN A SENTENCE USING LIST COMPREHENSION

In [27]:
sentence = "The quick brown fox jumps over the lazy dog"
words = sentence.split()
longest_word = max(words, key = lambda word:len(word))
print("The longest word in the sentence is:",longest_word)

The longest word in the sentence is: quick

In [16]:
#QUESTION 38

In [17]:
#CREATE  A PROGRAM THAT FILTERS A LIST OF STRINGS TO INCLUDE ONLY THOSE WITH MORE THAN THREE VOWELS USING LIST COMPREHENSION

In [26]:
my_list = ['hello','world','apple','banana','python']
filtered_list = [word for word in my_list if sum(1 for char in word if char.lower()in 'aeiou')>3]
print(filtered_list)

[]

In [18]:
#QUESTION 39

In [19]:
#DEVELOP A PROGRAM THAT CALCULATES THE SUM OF THE DIGITS OF THE NUMBERS FROM 1 TO 1000 USING LIST COMPREHENSION

In [24]:
sum_of_digits = sum([sum([int(digit)for digit in str(num)]) for num in range(1,1001)])
print(sum_of_digits)

13501

In [20]:
# QUESTION 40

In [21]:
# WRITE A PROGRAM THAT GENRATES A LIST OF A PRIME PALINDROMIC NUMBERS USING LIST COMPREHENSION

In [23]:
def is_prime(num):
    if num<2:
        return False 
    for i in range(2,int(num**0.5)+1):
        if num % i==0:
            return False
        return True
def is_palindrome(num):
    return str(num)==str(num)[::-1]
prime_palindromes=[num for num in range(1,1000)if is_prime(num)and is_palindrome(num)]
print(prime_palindromes)

[5, 7, 9, 11, 33, 55, 77, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]